
@model TwoCommaClubGoals.Models.UserRegistration

@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css" />
    <title>2 Comma Goals Club Registration Form</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>2 Comma Goals Club</h4></div>

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
        <div class="form-group">
            <label>First name:</label>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
          
        </div>
            <div class="form-group">
                <label>Last name:</label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Your email:</label>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Your phone:</label>
                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
            </div>
            <div class="text-center">
                <input class="btn btn-default" type="submit" value="Submit Registration" />
                <p><a class="btn btn-default" href="~/Home/Index">Cancel &raquo;</a></p>
            </div>

        }

    </div>
</body>
</html>
